#section8 {
  width: 100%;
  background: #fff;
}
#section8 .container {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}
#section8 .container .gap {
  width: 100%;
  padding: 80px 0 0 0;
  margin: 0 0 250px 0;
}
#section8 .container .gap .title {
  width: 100%;
  text-align: center;
}
#section8 .container .gap .title span img {
  width: auto;
  margin: 0 0 10px 0;
}
#section8 .container .gap .title h2 {
  color: #111;
  font-size: 38px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: -0.76px;
  margin: 0 0 26px 0;
}
#section8 .container .gap .title button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  padding: 15px 30px;
  background: rgba(17, 17, 17, 0.8);
  border: 0;
  border-radius: 4px;
  margin: 0 0 64px 0;
  cursor: pointer;
  transition: all 0.3s;
}
#section8 .container .gap .title button:hover {
  opacity: 0.8;
}
#section8 .container .gap .slide-container {
  width: 100%;
}
#section8 .container .gap .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#section8 .container .gap .slide-container .slide-view .slide-wrap {
  width: 300%;
  position: relative;
  display: flex;
  margin: 0 0 0 -100%;
}
#section8 .container .gap .slide-container .slide-view .slide-wrap .slide {
  width: 50%;
  position: relative;
  display: flex;
}
#section8 .container .gap .slide-container .slide-view .slide-wrap .slide .col-gap {
  width: 50%;
  padding: 0 10px;
  position: relative;
}
#section8 .container .gap .slide-container .slide-view .slide-wrap .slide .col-gap a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border: 0;
  border-radius: 5px;
  position: relative;
}
#section8 .container .gap .slide-container .slide-view .slide-wrap .slide .col-gap a::after {
  z-index: 2;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 31%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
#section8 .container .gap .slide-container .slide-view .slide-wrap .slide .col-gap a img {
  width: 100%;
  transition: all 0.5s;
}
#section8 .container .gap .slide-container .slide-view .slide-wrap .slide .col-gap a img:hover {
  transform: scale(1.1);
}
#section8 .container .gap .slide-container .slide-view .slide-wrap .slide .col-gap a h3 {
  z-index: 3;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 31px;
  color: #fff;
  line-height: 45px;
  letter-spacing: -0.62px;
}
#section8 .container .gap .prev-btn {
  position: absolute;
  top: 70%;
  left: -50px;
  transform: rotate(180deg);
  width: 50px;
  display: flex;
  justify-content: center;
}
#section8 .container .gap .prev-btn img {
  width: auto;
  margin: 0 0 0 -20px;
}
#section8 .container .gap .next-btn {
  position: absolute;
  top: 70%;
  right: -50px;
  width: 50px;
  display: flex;
  justify-content: center;
}
#section8 .container .gap .next-btn img {
  width: auto;
  margin: 0 0 0 -20px;
}