#section5 {
  width: 100%;
  background: #fff;
}
#section5 .container {
  width: 100%;
  max-width: 1903px;
  margin: 0 auto;
}
#section5 .container .gap {
  width: 100%;
  padding: 60px 0 70px 0;
}
#section5 .container .gap .title {
  width: 100%;
  text-align: center;
}
#section5 .container .gap .title span img {
  width: auto;
  margin: 0 0 10px 0;
}
#section5 .container .gap .title h2 {
  color: #111;
  font-size: 38px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: -0.76px;
  margin: 0 0 26px 0;
}
#section5 .container .gap .title p {
  color: #111;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: -0.32px;
}
#section5 .container .gap .title button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  padding: 15px 30px;
  background: rgba(17, 17, 17, 0.8);
  border: 0;
  border-radius: 4px;
  margin: 30px 0 74px 0;
  cursor: pointer;
  transition: all 0.3s;
}
#section5 .container .gap .title button:hover {
  opacity: 0.8;
}
#section5 .container .gap .content {
  width: 100%;
  padding: 0 102px;
}
#section5 .container .gap .content ul {
  width: 100%;
  display: flex;
}
#section5 .container .gap .content ul li {
  width: 25%;
  position: relative;
  padding: 0 5px;
}
#section5 .container .gap .content ul li a {
  width: 100%;
  display: block;
  overflow: hidden;
}
#section5 .container .gap .content ul li a img {
  width: 100%;
  transition: all 0.5s;
}
#section5 .container .gap .content ul li a img:hover {
  transform: scale(1.1);
}
#section5 .container .gap .content ul li a p {
  padding: 6px 9.5px;
  background: #FEDA00;
  position: absolute;
  top: 12px;
  right: 13px;
  font-size: 14px;
  font-weight: 500;
  color: #111;
  border: 0;
  border-radius: 2px;
}