#footer{
    width: 100%;
    background: #f7f7f7;
    .container{
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 16px 0 66px 0;
            .content{
                width: 100%;
                height: 303.98px;
                .row1{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    margin: 0 0 16px 0;
                    .row1-l{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p{
                            font-size: 15px;
                            color: #333;
                            line-height: 22.4px;
                            letter-spacing: -0.28px;
                            font-weight: 600;
                        }
                        span{
                            margin: 0 350px 0 0;
                            a{
                                font-size: 14px;
                                color: #333;
                                line-height: 19.6px;
                                letter-spacing: -0.28px;
                            }
                        }
                        > a{
                            position: relative;
                            padding: 0 20px 0 0;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 0;
                                width: 12px;
                                height: 2px;
                                background: #333;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 5px;
                                margin: -5px 0 0 0;
                                width: 2px;
                                height: 12px;
                                background: #333;
                            }
                        }
                    }
                    .row1-r{
                        width: 50%;
                        height: 100%;
                        text-align: right;
                        >span{
                            width: 100%;
                            height: 100%;
                            text-align: left;
                            margin: 0 16px 0 0;
                            position: relative;
                            >a{
                                display: inline-block;
                                width: 200px;
                                height: 100%;
                                color: #111;
                                border-bottom: 1px solid #000;
                                padding: 7px 8px;
                                font-size: 16px;
                                font-weight: 700;
                                letter-spacing: -0.32px;
                                line-height: 25px;
                                img{
                                    width: auto;
                                    padding: 0 0 0 83px;
                                    transform: translateY(2px);
                                    &.on{
                                        transform: rotate(180deg);
                                        padding: 0 83px 0 0;
                                    }
                                }
                            }
                            &:last-child{
                                margin: 0;
                                a{
                                    img{
                                        padding: 0 0 0 99px;
                                        &.on{
                                            transform: rotate(180deg);
                                            padding: 0 99px 0 0;
                                        }
                                    }
                                }
                            }
                            .familysite{
                                position: absolute;
                                bottom: 46px;
                                right: 0;
                                width: 200px;
                                background: rgba(255, 255, 255, 0.9);
                                box-shadow: 0px -2px 5px 1px rgba(51, 51, 51, 0.1);
                                border: 0;
                                border-radius: 5px;
                                display: none;
                                &.on{
                                    display: block;
                                }
                                ul{
                                    width: 100%;
                                    height: 100%;
                                    li{
                                        width: 100%;
                                        font-size: 16px;
                                        line-height: 25px;
                                        padding: 4px 16px 14px 16px;
                                        color: #111;
                                    }
                                }
                            }
                            .sitemap{
                                z-index: 6;
                                position: absolute;
                                bottom: 40px;
                                right: 0;
                                width: 1080px;
                                height: 480px;
                                background: #fff;
                                border: 1px solid #a6a6a6;
                                padding: 40px 80px;
                                display: none;
                                transition: all 0.3s;
                                .sitemap-box{
                                    display: flex;
                                    .sitemap-left{
                                        width: 551.037px;
                                        padding: 0 50px 0 0;
                                        ul{
                                            width: 100%;
                                            li{
                                                width: 100%;
                                                >a{
                                                    width: 100%;
                                                    padding: 0 0 6px 0;
                                                    border-bottom: 1px solid #a6a6a6;
                                                    display: block;
                                                    h2{
                                                        width: 100%;
                                                        color: #111;
                                                        font-size: 18px;
                                                        font-weight: 700;
                                                        letter-spacing: -0.36px;
                                                        line-height: 28px;
                                                    }
                                                }
                                                div{
                                                    width: 100%;
                                                    padding: 4px 10px 12px 10px;
                                                    display: flex;
                                                    justify-content: left;
                                                    flex-flow: row wrap;
                                                    strong{
                                                        width: 100px;
                                                        margin: 0 24px 6px 0;
                                                        a{
                                                            width: 100%;
                                                            color: #333;
                                                            font-size: 14px;
                                                            letter-spacing: -0.28px;
                                                            line-height: 23.8px;
                                                        }
                                                        &.category{
                                                            width: 100%;
                                                        }
                                                    }
                                                    p{
                                                        width: 96px;
                                                        height: 25px;
                                                        a{
                                                            color: #777;
                                                            font-size: 13px;
                                                            letter-spacing: -0.26px;
                                                            line-height: 25px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .sitemap-right{
                                        width: 367.350px;
                                        ul{
                                            width: 100%;
                                            li{
                                                width: 100%;
                                                >a{
                                                    width: 100%;
                                                    padding: 0 0 6px 0;
                                                    border-bottom: 1px solid #a6a6a6;
                                                    display: block;
                                                    h2{
                                                        width: 100%;
                                                        color: #111;
                                                        font-size: 18px;
                                                        font-weight: 700;
                                                        letter-spacing: -0.36px;
                                                        line-height: 28px;
                                                    }
                                                }
                                                div{
                                                    width: 100%;
                                                    padding: 4px 10px 12px 10px;
                                                    display: flex;
                                                    strong{
                                                        width: 100px;
                                                        margin: 0 0 6px 0;
                                                        a{
                                                            width: 100%;
                                                            color: #333;
                                                            font-size: 14px;
                                                            letter-spacing: -0.28px;
                                                            line-height: 23.8px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.on{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .row2{
                    width: 100%;
                    ul{
                        width: 100%;
                        height: 54.4px;
                        display: flex;
                        align-items: flex-start;
                        li{
                            a{
                                font-size: 14px;
                                color: #333;
                                line-height: 22.4px;
                                letter-spacing: -0.28px;
                            }
                            &:nth-child(7){
                                font-weight: 600;
                            }
                        }
                        i{
                            margin: 0 34px;
                            color: #ddd;
                        }
                    }
                }
                .row3{
                    width: 100%;
                    height: 88px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    .row3-l{
                        width: 50%;
                        display: flex;
                        > span{
                            width: 122px;
                            a{
                                img{
                                    width: 120px;
                                    height: 50.969px;
                                }
                            }
                        }
                        p{
                            font-size: 12px;
                            color: #333;
                            letter-spacing: -0.24px;
                            line-height: 22px;
                            padding: 0 0 0 25px;
                        }
                    }
                    .row3-r{
                        width: 50%;
                        display: flex;
                        justify-content: right;
                        margin: 0 10px 0 0;
                        h3{
                            font-size: 18px;
                            color: #333;
                            letter-spacing: -0.36px;
                            line-height: 28.8px;
                            font-weight: 600;
                            margin: 0 30px 0 0;
                        }
                        div{
                            display: flex;
                            width: 240px;
                            margin: 0 5px 8px 5px;
                            img{
                                width: 28px;
                                height: 34px;
                                margin: 0 6px 0 0;
                            }
                            p{
                                font-size: 14px;
                                color: #333;
                                letter-spacing: -0.28px;
                                line-height: 22.4px;
                                padding: 0 0 0 5px;
                            }
                            &:last-child{
                                width: 331.45px;
                            }
                        }
                    }
                }
                .row4{
                    width: 100%;
                    margin: -34px 0 0 0;
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 0 0 590px;
                        img{
                            width: 28px;
                            height: 34px;
                            margin: 0 6px 0 0;
                        }
                        p{
                            font-size: 14px;
                            color: #333;
                            letter-spacing: -0.28px;
                            line-height: 22.4px;
                            padding: 0 0 0 5px;
                        }
                    }
                }
                .row5{
                    width: 100%;
                    height: 61.59px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .row5-l{
                        p{
                            color: #171C8F;
                            font-size: 11px;
                            font-weight: 700;
                            letter-spacing: -0.22px;
                            line-height: 17.6px;
                        }
                    }
                    .row5-r{
                        margin: 0 12px 0 0;
                        .icon{
                            width: 35px;
                            height: 24px;
                            display: flex;
                            justify-content: right;
                            align-items: center;
                            a{
                                width: 100%;
                                padding: 0 22px;
                                img{
                                    width: 24px;
                                    color: #777;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}