#section3{
    width: 100%;
    background: url(../img/makeup_look_main_bg_2208.jpg) no-repeat 50% 50%;
    background-size: cover;
    .container{
        width: 100%;
        max-width: 1903px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 64px 0 150px 0;
            .title{
                width: 100%;
                text-align: center;
                span{
                    img{
                        width: auto;
                    }
                }
                h2{
                    color: #111;
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 43px;
                    letter-spacing: -0.76px;
                    margin: 0 0 26px 0;
                }
                p{
                    color: #111;
                    font-size: 16px;
                    line-height: 25.6px;
                    letter-spacing: -0.32px;
                }
                button{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: -0.36px;
                    padding: 15px 30px;
                    background: rgba(17, 17, 17, 0.8);
                    border: 0;
                    border-radius: 4px;
                    margin: 30px 0 95px 0;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
            .content{
                width: 100%;
                text-align: center;
                span{
                    a{
                        img{
                            width: auto;
                        }
                    }
                }
                figure{
                    margin: 94px 0 80px 0;
                    display: block;
                    text-align: center;
                    .textimg{
                        width: auto;
                        position: relative;
                        transition: all 1s;
                        opacity: 0;
                        &.on{
                            margin: 0;
                            opacity: 1;
                            animation: parallux-up 1s ease-in-out both;
                        }
                    }
                }
            }
            .content-bottom{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .left,
                .right{
                    position: relative;
                    padding: 8.26px;
                    span{
                        a{
                            display: block;
                            border: 0;
                            border-radius: 5px;
                            overflow: hidden;
                            p{
                                z-index: 2;
                                position: absolute;
                                top: 15px;
                                left: 18px;
                                text-align: center;
                                background: #333;
                                font-size: 13px;
                                font-weight: 700;
                                line-height: 20.8px;
                                letter-spacing: -0.26px;
                                color: #f5e2e2;
                                padding: 4px 12px;
                                border: 0;
                                border-radius: 3px;
                            }
                            img{
                                width: 733.5px;
                                transition: all 0.5s;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                            figure{
                                position: absolute;
                                bottom: 28px;
                                right: 31px;
                                width: 45px;
                                height: 45px;
                                background: #171c8f;
                                border-radius: 50%;
                                img{
                                    width: auto;
                                    padding: 6px 0 0 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes parallux-up {
    0%{top: -100px;}
  100%{top: 0;}
}